[package]
name = "s3handler"
version = "0.4.3"
authors = ["Antonio Yang <antonio.yang@siliconmotion.com.tw>"]
edition = "2018"
description = "An s3 handler for s3rs s3fs"
license = "MIT"

[dependencies]
serde = "1.0.43"
serde_derive = "1.0.43"
reqwest = "0.9.20"
hyper = "0.11.25"
http = "0.1.13"
chrono = "0.4"
rust-crypto = "0.2"
hmac = "0.4.2"
sha2 = "0.6.0"
base64 = "0.6.0"
rustc-serialize = "0.3"
hmac-sha1 = "0.1.3"
url = "2.1.1"
log = "0.4"
md5 = "0.3.7"
serde_json = "1.0"
regex = "0.2"
quick-xml = "0.12.0"
colored = "^1.6.1"
failure = "0.1.6"
failure_derive ="0.1.6"
